
.p-b-3 {
    padding-bottom: 3rem!important;
}
.m-x-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
.m-y-2 {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}
.m-t-2 {
    margin-top: 1.5rem!important;
}
.img-circle {
    border-radius: 50%;
    width:150px;
}
.carousel-inner>.carousel-item>a>img, .carousel-inner>.carousel-item>img, .img-fluid {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border-style: none;
}
.custom-file-control {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #555;
    user-select: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: .25rem;
}
.text-xs-center {
    text-align: center!important;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
    background-color: #fff
}
.btn-primary {
    color: #fff;
    background-color: #ff084e;
    border-color: #ff084e;
}
.btn-primary:hover{
    background-color: black;
}
@media (min-width: 800px){
    .push-lg-4 {
    left: 33.333333%;
    }
    .pull-lg-8 {
    right: 66.666667%;
    }
    .col-lg-8 {
        float: left;
        width: 66.666667%;
    }
    .col-lg-4 {
    float: left;
    width: 33.333333%;
    }
}
.desc-form{
    min-height: 60px
}

