@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

.font-robo{
    font-family:roboto,arial,helvetica neue,sans-serif
}
.font-poppins{
    font-family:poppins,arial,helvetica neue,sans-serif
}
.row{

    flex-wrap:wrap
}
.row-space{
    justify-content:space-between
}
.col-2{
    width:calc((100% - 30px)/2)
}
@media(max-width:767px){
    .col-2{
        width:100%
    }
}
html{
    box-sizing:border-box
}
*{
    padding:0;
    margin:0
}
*,*:before,*:after{
    box-sizing:inherit
}
li>ol,li>ul{
    margin-bottom:0
}
}
fieldset{
    min-width:0;
    border:0
}
button{
    outline:none;
    background:0 0;
    border:none
}
.page-wrapper{
    min-height:100vh;
    padding-top:130px;
    padding-bottom:100px
}
body{
    font-family:poppins,arial,helvetica neue,sans-serif;
    font-weight:400;
    font-size:14px
}
h1,h2,h3,h4,h5,h6{
    font-weight:400
}
h1{
    font-size:36px
}
h2{
    font-size:30px
}
h3{
    font-size:24px
}
h4{
    font-size:18px
}
h5{
    font-size:15px
}
h6{
    font-size:13px
}
.bg-gra-02{

    background:linear-gradient(to top,#ff084e,#0e0c0c)
}


.p-t-15{
    padding-top:15px
}
.wrapper{
    margin:0 auto
}
.wrapper--w680{
    max-width:680px
}
.btn{
    display:inline-block;
    line-height:50px;
    padding:0 50px;
    transition:all .4s ease;
    cursor:pointer;
    font-size:18px;
    color:#fff;
    font-family:poppins,arial,helvetica neue,sans-serif
}
.btn--radius-2{
    border-radius:5px
}
.btn--blue{
    background:#4272d7
}

input{
    outline:none;
    margin:0;
    border:none;
    box-shadow:none;
    width:100%;
    font-size:14px;
    font-family:inherit
}
.input--style-4{
    line-height:50px;
    background:#fafafa;
    box-shadow:inset 0 1px 3px 0 rgba(0,0,0,.08);
    border-radius:5px;
    padding:0 20px;
    font-size:16px;
    color:#666;
    transition:all .4s ease
}
.label{
    font-size:16px;
    color:#555;
    text-transform:capitalize;
    display:block;
    margin-bottom:5px
}

.input-group{
    position:relative;
    margin-bottom:22px
}


.title{
    font-size:24px;
    color:#525252;
    font-weight:400;
    margin-bottom:40px
}
.card{
    border-radius:3px;
    background:#fff
}
.card-4{
    background:#fff;
    border-radius:10px;
    box-shadow:0 8px 20px 0 rgba(0,0,0,.15)
}
.card-4 .card-body{
    padding:57px 65px;
    padding-bottom:65px
}
@media(max-width:767px){
    .card-4 .card-body{
        padding:50px 40px
    }
}
