{% extends 'tailored/base.html' %}

	{% load staticfiles %}
	

	{% block body_block %}
   


			<section class="single_product_details_area section_padding_0_100">
			   <div class="container">
				  <div class="row">
					 <div class="col-12 col-md-6">
						<div class="single_product_thumb">
						   <div id="product_details_slider" class="carousel slide" data-ride="carousel">
							  <!-- <ol class="carousel-indicators">
								 <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url({{ MEDIA_URL }}{{ item.itemPic }});"></li>
							  </ol> -->
							  <div class="carousel-inner">
								 <div class="carousel-item active">
									<a class="gallery_img" href="{{ MEDIA_URL }}{{ item.picture }}">
									<img class="d-block w-100" src="{{ MEDIA_URL }}{{ item.picture }}" alt="">

									</a>
								</div>
							</div>
						</div>

					 </div>
               </div>
<h1>This item doesn't exist or has been deleted.</h1>
</div>
		</div>
   </div>

   
	</section>
	<section class="you_may_like_area clearfix">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section_heading text-center">

						<h2>Related Products</h2>
					</div>
				</div>

			</div>
		<div class="container">
            <div class="row tailored-new-arrivals">

               {% for item in trendingItems %}
                  {% include 'tailored/item_preview.html' %}
               {% endfor %}
              
               
            </div>
         </div>
		</div>

	</section>

{% endblock %}

