<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
	<title>Tailored</title> </head>
	<body> 
		<div>
		{% if category %}
			<h1>{{ category.title }}</h1> 
			{% if items %}
				<ul>
				{% for item in items %}
					<li>{{ item.title }}</li>
					<img src = "{{ MEDIA_URL }}{{ item.itemPic }}" />
				{% endfor %}
				</ul> 
			{% else %}
				<strong>No items currently in category.</strong> 
			{% endif %}
    	{% else %}
        	The specified category does not exist!
		{% endif %}
	</div> 
</body>
</html>