<!DOCTYPE html>
<html>
<head lang="en">


</head>

<body>
	<form action="/tailored/{{search}}{% if search != None %}/{%endif%}{{category}}{% if category != None %}/{%endif%}" method="POST" class="categories">

		{% csrf_token %}
		Filters:

		Categories:
		<br>
		{% for el in categories %}
			{% if el.title == category %}
				<input type="radio" name="choose" value="{{el.title}}" checked="checked">{{el.title}}<br>
			{% else %}
				<input type="radio" name="choose" value="{{el.title}}" >{{el.title}}<br>
			{% endif %}

		{% endfor %}
		<input type="submit" name="submit" value="submit">
	</form>

</body>
</html>
