<!DOCTYPE html>
{% load staticfiles %}
<html>

<head lang="en">

<link rel="stylesheet" href="/static/style.css">
<h1 class="header">Tailored</h1>
<div>
		<ul>
			{% if user.is_authenticated %}
				<li><a href="{% url 'auth_logout' %}?next={% url 'tailored:index' %}">Logout!</a></li>
			{% else %}
				<li><a href="{% url 'registration_register' %}">Register!</a></li>
				<li><a href="{% url 'auth_login' %}">Log in!</a></li>
			{% endif %}
			<li><a href="{% url 'tailored:items' %}">Popular items</a></li>
		</ul>
	</div>
</head>
<body>
{% include 'tailored/searchbar.html' %}
{% include 'tailored/categories.html'%}



</body>
</html>
