<div class="col-12 col-sm-6 item col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.2s">
	<div class="product-img">
		<a href="/item/{{item.itemID}}/"><img src="{{ MEDIA_URL }}{{ item.picture }}" alt=""></a>		
	</div>
	<div class="product-description">
		<h3><a href="/item/{{ item.itemID }}/">{{ item.title }}</a></h3>
		<h4 class="product-price">{{ item.price }}£</h4>
		<p>{{ item.description }}</p>
		<p class="category">{{ item.category }}</p>
		<p class="section">{{ item.section }}</p>
		<p class="size" value="{{ item.size }}">{{ item.size }}</p>
	</div>
</div>