<!DOCTYPE html>
<html>
<head>
	<title>Tailored</title>
</head>
<body>
	<h1>Leave a review</h1>
	<div>
		<form id = "review_form" method = "post" action = "{% url 'tailored:leave_review' %}">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			{% for field in form.visible_fields %}
			<li>
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
			</li>
			{% endfor %}
			<input type = "submit" name = "submit" value = "Leave a review" />
		</form>
	</div>
</body>
</html>