{% load form_class %}

<body>
	<div>
		{% if search%}
			<form action="{% url 'tailored:search' search %}" class="search" method="POST">
		{% else %}
			<form action="{% url 'tailored:search' %}" class="search" method="POST">		
		{% endif %}
				{% csrf_token %}
				<div class="row align-items-end">
					<div id = "left">
						{{ search_bar.search|addcss:"form-control" }}
					</div>
					<div id = "left">
						<input type="submit" name="request" value="Submit" class = "btn btn-primary">
					</div>
				</div>
			</form>
	</div>
</body>