{% extends 'tailored/base.html' %}
	{% load staticfiles %}
	

	{% block body_block %}
      <div class="container">
         <div class="row m-y-2">	
            <div class="col-lg-8 push-lg-4">
               <ul class="nav nav-tabs">
                  <li class="nav-item">
                     <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                  </li>
                  <li class="nav-item">
                     <a href="" data-target="#products" data-toggle="tab" class="nav-link">Products</a>
                  </li>
               </ul>
               <div class="tab-content p-b-3">
                  <div class="tab-pane active" id="profile">
                     <h4 class="m-y-2">About Seller</h4>
                     <div class="row">
                        <div class="col-md-6">
                           <h6>About</h6>
                           <p>
                              
                           </p>
                           <p>
                              Email: {{seller_user.}}
                           </p>
                           <p>
                              Phone Number: 
                           </p>
                           
                           <p>
                              Post Code:
                           </p>
                        </div>
                        <div class="col-md-6">
                           <h6>Rating</h6>
                           <div class="top_seller_product_rating mb-15">
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <h4 class="m-t-2"><span class="fa fa-clock-o ion-clock pull-xs-right"></span> Reviews</h4>
                           <table class="table table-hover table-striped">
                              <tbody>
                                 <tr>
                                    <td>
                                       <strong>Abby</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <strong>Gary</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <strong>Kensington</strong> deleted MyBoard3 in <strong>`Discussions`</strong>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <strong>Skell</strong> deleted his post Look at Why this is.. in <strong>`Discussions`</strong>
                                    </td>
                                 </tr>
								 <tr>
									<td>
										<form role="form">
											<div class="form-group row">
												<label class="col-lg-3 col-form-label form-control-label"></label>
												<div class="col-lg-9">
													<input class="form-control desc-form" type="text" placeholder="Add Review">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-lg-3 col-form-label form-control-label"></label>
												<div class="col-lg-9">
													<button class="btn btn-primary" type="submit">Add Review</button>
												</div>
											</div>
										</form>
									</td>
								</tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
               </div>
			   <div class="tab-pane active" id="products">
			   <div class="container">
                  <div class="row tailored-new-arrivals">
                     <div class="col-12 col-sm-6 col-md-4 single_gallery_item animated fadeInUpBig" data-wow-delay="0s">
                        <div class="product-img">
                           <img src="img/product-img/product-1.jpg" alt="">               
                        </div>
                        <div class="product-description">
                           <h4 class="product-price">$39.90</h4>
                           <p>Jeans midi cocktail dress</p>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6 col-md-4 single_gallery_item animated fadeInUpBig" data-wow-delay="0.125s">
                        <div class="product-img">
                           <img src="img/product-img/product-2.jpg" alt="">                        
                        </div>
                        <div class="product-description">
                           <h4 class="product-price">$39.90</h4>
                           <p>Jeans midi cocktail dress</p>                           
                        </div>
                     </div>
                     <div class="col-12 col-sm-6 col-md-4 single_gallery_item animated fadeInUpBig" data-wow-delay="0.175s">
                        <div class="product-img">
                           <img src="img/product-img/product-3.jpg" alt="">                       
                        </div>
                        <div class="product-description">
                           <h4 class="product-price">$39.90</h4>
                           <p>Jeans midi cocktail dress</p>
                           
                        </div>
                     </div>
                     <div class="col-12 col-sm-6 col-md-4 single_gallery_item animated fadeInUpBig" data-wow-delay="0.225s">
                        <div class="product-img">
                           <img src="img/product-img/product-4.jpg" alt="">                        
                        </div>
                        <div class="product-description">
                           <h4 class="product-price">$39.90</h4>
                           <p>Jeans midi cocktail dress</p>
                           
                        </div>
                     </div>
                     <div class="col-12 col-sm-6 col-md-4 single_gallery_item animated fadeInUpBig" data-wow-delay="0.275s">
                        <div class="product-img">
                           <img src="img/product-img/product-5.jpg" alt="">                        
                        </div>
                        <div class="product-description">
                           <h4 class="product-price">$39.90</h4>
                           <p>Jeans midi cocktail dress</p>
                           
                        </div>
                     </div>
                     <div class="col-12 col-sm-6 col-md-4 single_gallery_item animated fadeInUpBig" data-wow-delay="0.325s">
                        <div class="product-img">
                           <img src="img/product-img/product-6.jpg" alt="">                           
                        </div>
                        <div class="product-description">
                           <h4 class="product-price">$39.90</h4>
                           <p>Jeans midi cocktail dress</p>
                        </div>
                     </div>
                  </div>
               </div>
			   </div>
			</div>
		</div>
		 <div class="col-lg-4 pull-lg-8 text-xs-center">
			<img src="{%static 'images/placeholder.jpg'%}" class="m-x-auto img-fluid img-circle" alt="avatar">
		</div>
      </div>
      </div>
	  {%endblock%}