<!DOCTYPE html>
<html>
<head>
	<title>Tailored</title>
</head>
	<body>
		<h1>Seller profile</h1>
		<div>
			<p>Seller name: {{ seller_user }}</p>
			<p>Seller rating: {{ seller_rating }}</p> 
		</div>

		<div>
			{% for review in reviews_seller %}
				<p>Review item: {{ review.item }}</p>
				<p>Review score: {{ review.rating }}
				<p>Review text: {{ review.review_text }}</p>
			{% endfor %}
		</div>
		
		{% if items_to_review %}
			<h1>Leave a review</h1>
			<div>
				<form id = "review_form" method = "post" action = "{% url 'tailored:show_seller_profile' seller_user.username %}">
					{% csrf_token %}
					{% for hidden in form.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for field in form.visible_fields %}
					<li>
						{{ field.errors }}
						{{ field.help_text }}
						{{ field }}
					</li>
					{% endfor %}
					<input type = "submit" name = "submit" value = "Leave a review" />
				</form>
			</div>
		{% endif %}
	</body>
</html>