{% extends 'tailored/base.html' %}
	{% load staticfiles %}
	{% block title_block %}
		Home
	{% endblock %}

	{% block body_block %}
		{% include 'tailored/searchbar.html' %}
		{% include 'tailored/categories.html'%}	
	 
	  <div class="container">
		 <div class="row m-y-2">	
			<div class="col-lg-8 push-lg-4">
			   <ul class="nav nav-tabs">
				  <li class="nav-item">
					 <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
				  </li>
				  <li class="nav-item">
					 <a href="" data-target="#sell" data-toggle="tab" class="nav-link">Sell an Item</a>
				  </li>
				  <li class="nav-item">
					 <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit Profile</a>
				  </li>
			   </ul>
			   <div class="tab-content p-b-3">
				  <div class="tab-pane active" id="profile">
					 <h4 class="m-y-2">User Profile</h4>
					 <div class="row">
						<div class="col-md-6">
						   <h6>About</h6>
						   <p>
							  Name: 
						   </p>
						   <p>
							  Email: 
						   </p>
						   <p>
							  Phone Number: 
						   </p>
						   <h6>Location</h6>
						   <p>
							  City:
						   </p>
						   <p>
							  Post Code:
						   </p>
						</div>
						<div class="col-md-6">
						   <h6>Rating</h6>
						   <div class="top_seller_product_rating mb-15">
							  <i class="fa fa-star" aria-hidden="true"></i>
							  <i class="fa fa-star" aria-hidden="true"></i>
							  <i class="fa fa-star" aria-hidden="true"></i>
							  <i class="fa fa-star" aria-hidden="true"></i>
							  <i class="fa fa-star" aria-hidden="true"></i>
						   </div>
						</div>
						<div class="col-md-12">
						   <h4 class="m-t-2"><span class="fa fa-clock-o ion-clock pull-xs-right"></span> Reviews</h4>
						   <table class="table table-hover table-striped">
							  <tbody>
								 <tr>
									<td>
									   <strong>Abby</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
									</td>
								 </tr>
								 <tr>
									<td>
									   <strong>Gary</strong> deleted My Board1 in <strong>`Discussions`</strong>
									</td>
								 </tr>
								 <tr>
									<td>
									   <strong>Kensington</strong> deleted MyBoard3 in <strong>`Discussions`</strong>
									</td>
								 </tr>
								 <tr>
									<td>
									   <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong>
									</td>
								 </tr>
								 <tr>
									<td>
									   <strong>Skell</strong> deleted his post Look ´at Why this is.. in <strong>`Discussions`</strong>
									</td>
								 </tr>
							  </tbody>
						   </table>
						</div>
					 </div>
				  </div>
				  <div class="tab-pane" id="sell">
					 <h4 class="m-y-2">Upload an item</h4>
					 <form id = "profile_form" method="post" action = "{% url 'tailored:add_item' %}" enctype = "multipart/form-data">
						{% csrf_token %}
						<fieldset>
						   <legend>{{ title }}</legend>
						   <div class="form-group row">
						   {% for hidden in form.hidden_fields %}
							  {{ hidden }}
						   {% endfor %}
						  
						   {% for field in form.visible_fields %}
							  
						   
							  {% if field.field.widget.input_type == "select" %}
								  <label class="col-lg-3 col-form-label form-control-label">{{field.help_text}}</label>
								 <div class="col-lg-3">
									{{field}}
								 </div>
							  {% elif field.field.widget.input_type == "file" %}
								 <div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label">{{field.help_text}}</label>
									<div class="col-lg-3">
									   <label class="custom-file">
										  {{field}}
									   </label>
									</div>
								 </div>   
							  {%else%}
								 <label class="col-lg-3 col-form-label form-control-label">{{field.help_text}}</label>
									<div class="col-lg-5">
									   {{field}}
									</div>
							  {%endif%}
						   
						   {%endfor%}
						   </div>

						<div class="form-group row">
						   <label class="col-lg-3 col-form-label form-control-label"></label>
						   <div class="col-lg-9">
							  <button type="reset" class="btn btn-secondary"value="Reset">Reset</button>
							  <button class="btn btn-primary" type="submit">Save changes</button>
						   </div>
						</div>
				
				  </form>
			   </div>
			   <div class="tab-pane" id="edit">
				  <h4 class="m-y-2">Edit Profile</h4>
				  <form role="form">
					 <div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label">Email:</label>
						<div class="col-lg-9">
						   <input class="form-control" type="email" placeholder="Email">
						</div>
					 </div>
					 <div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label">Address:</label>
						<div class="col-lg-6">
						   <input class="form-control" type="text" value="" placeholder="City">
						</div>
						<div class="col-lg-3">
						   <input class="form-control" type="text" value="" placeholder="Post Code">
						</div>
					 </div>
					 <div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label">Password:</label>
						<div class="col-lg-9">
						   <input class="form-control" type="password" placeholder="Password">
						</div>
					 </div>
					 <div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label">Confirm password:</label>
						<div class="col-lg-9">
						   <input class="form-control" type="password" placeholder="Confirm Password">
						</div>
					 </div>
					 <div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label"></label>
						<div class="col-lg-9">
						   <button type="reset" class="btn btn-secondary"value="Reset">Reset</button>
						   <button class="btn btn-primary" type="submit">Save changes</button>
						</div>
					 </div>
				  </form>
			   </div>
			</div>
		 </div> 
		 <div class="col-lg-4 pull-lg-8 text-xs-center">
			<img src="placeholder.jpg" class="m-x-auto img-fluid img-circle" alt="avatar">
			<h6 class="m-t-2">Upload a different photo</h6>
			<label class="custom-file">
				<input type="file" id="file" class="custom-file-input">
				<span class="custom-file-control">Choose file</span>
			</label>
		</div>
	  </div>
	  </div>
	  {%endblock%}