{% extends 'tailored/base.html' %}
   {% load staticfiles %}
   {% load form_class%}
   {% block title_block %}
      Home
   {% endblock %}
   {% block body_block %}
    <link href="{% static 'css/profile.css'%}" rel="stylesheet">
     <div class="container">
         <div class="row m-y-2"> 
            <div class="col-lg-8 push-lg-4">
               <ul class="nav nav-tabs">
                  <li class="nav-item">
                     <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                  </li>
                  <li class="nav-item">
                     <a href="" data-target="#sell" data-toggle="tab" class="nav-link">Sell an Item</a>
                  </li>
                  <li class="nav-item">
                     <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit Profile</a>
                  </li>
               </ul>
               <div class="tab-content p-b-3">
                  <div class="tab-pane active" id="profile">
                     <h4 class="m-y-2">User Profile</h4>
                     <div class="row">
                        <div class="col-md-6">
                           <h6><font size="5">About</font></h6>
                           <p>
                              <strong>Name: </strong> {{ user.first_name }} {{ user.last_name }}
                           </p>
                           <p>
                              <strong>Email: </strong> {{ user.email }}
                           </p>
                           <p>
                              <strong>Phone Number: </strong> {{ user_profile.phone }}
                           </p>
                           <p>
                              <strong>Post Code: </strong> {{ user_profile.postcode }}
                           </p>
                        </div>
                        <div class="col-md-6">
                           <h6>Rating</h6>
                           <div class="top_seller_product_rating mb-15">
                              {% csrf_token %}
                              {% if user_profile.rating == 0 %}
                                 You don't have any ratings
                              {% else %}

                                 {% for rate in user_rating %}
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                 {% endfor %}
                              {% endif %}
                           </div>
                        </div>
                        <div class="col-md-12">
                           <h4 class="m-t-2"><span class="fa fa-clock-o ion-clock pull-xs-right"></span>Your Reviews</h4>
                           {% if reviews_user %}
                           <table class="table table-hover table-striped">
                              <tbody>
                                 {% for review in reviews_user %}
                                    <tr>
                                       <td>
                                          Item bought: "{{ review.item }}"<br />
                                          {{ review.review_text }}. Rating: {{ review.rating }}/5 <br />
                                          <font size="-1"> Date posted: {{ review.datePosted}} </font>
                                       </td>
                                    </tr>
                                 {% endfor %} 
                              </tbody>
                           </table>
                           {% else %}
                              <strong>You have no reviews</strong>
                           {% endif %}
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane" id="sell">
                     <h4 class="m-y-2">Upload an item</h4>
                     <form role="form" action = "{% url 'tailored:user_profile' %}" method = "post" enctype = "multipart/form-data">
                        {% csrf_token %}
                  <div class="form-group row">
                           <label class="col-lg-3 col-form-label form-control-label">Title:</label>
                           <div class="col-lg-9">
                              {{item_form.title|addcss:"form-control"}}
                           </div>
                           {{item_form.title.errors}}
                        </div>
                        <div class="form-group row">
                           <label class="col-lg-3 col-form-label form-control-label">Description:</label>
                           <div class="col-lg-9">
                              {{item_form.description|addcss:"form-control, desc-form"}}
                           </div>
                           {{item_form.description.errors}}
                        </div>
                        <div class="form-group row">
                           <label class="col-lg-3 col-form-label form-control-label">Size:</label>
                           <div class="col-lg-3">
                              {{item_form.size|addcss:"form-control"}}
                           </div>
                           {{ item_form.size.errors }}
                           <label class="col-lg-3 col-form-label form-control-label">Section:</label>
                           <div class="col-lg-3">
                              {{ item_form.section|addcss:"form-control" }}
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-lg-3 col-form-label form-control-label">Category:</label>
                           <div class="col-lg-3">
                              {{ item_form.category|addcss:"form-control" }}
                           </div>
                           <label class="col-lg-3 col-form-label form-control-label">Price:</label>
                           <div class="col-lg-3">
                              {{ item_form.price|addcss:"form-control" }}
                           </div>
                           {{ item_form.price.errors }}
                        </div>
                  <div class="form-group row">
                     <label class="col-lg-3 col-form-label form-control-label">Upload item's photo:</label>
                     <div class="col-lg-3">
                        <label class="custom-file">
                           {{ item_form.picture|addcss:"form-control" }}
                           <span class="custom-file-control">Choose file</span>
                        </label>
                        {{ item_form.picture.errors }}
                     </div>
                  </div>   
                        <div class="form-group row">
                           <label class="col-lg-3 col-form-label form-control-label"></label>
                           <div class="col-lg-9">
                              <button type="reset" class="btn btn-secondary"value="Reset">Reset</button>
                              <button class="btn btn-primary" type="submit">Save changes</button>
                           </div>
                        </div>
                
                  </form>
               </div>
               <div class="tab-pane" id = "edit">
                  <h4 class="m-y-2">Edit Profile</h4>
                     <form role = "form"  method = "post" action = "{% url 'tailored:user_profile' %}" enctype = "multipart/form-data"> {% csrf_token %}
                  <div class="form-group row">
                        
                        {% for hidden in user_form.hidden_fields %}
                           {{ hidden }}
                        {% endfor %}
                        {% for field in user_form.visible_fields %}
                           <li>
                              {{ field.errors }}
                              {{ field.help_text }}
                              {{ field }}
                           </li>
                        {% endfor %}
                        <input type = "submit" name = "submit" value = "Edit profile" />
						</div>
                     </form>
                  <!--
                  <form role="form">
                     <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Email:</label>
                        <div class="col-lg-9">
                           <input class="form-control" type="email" placeholder="Email">
                        </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Address:</label>
                        <div class="col-lg-6">
                           <input class="form-control" type="text" value="" placeholder="City">
                        </div>
                        <div class="col-lg-3">
                           <input class="form-control" type="text" value="" placeholder="Post Code">
                        </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Password:</label>
                        <div class="col-lg-9">
                           <input class="form-control" type="password" placeholder="Password">
                        </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Confirm password:</label>
                        <div class="col-lg-9">
                           <input class="form-control" type="password" placeholder="Confirm Password">
                        </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label"></label>
                        <div class="col-lg-9">
                           <button type="reset" class="btn btn-secondary"value="Reset">Reset</button>
                           <button class="btn btn-primary" type="submit">Save changes</button>
                        </div>
                     </div>
                  </form>
               -->

               </div>
            </div>
         </div>
       <div class="col-lg-4 pull-lg-8 text-xs-center">
         <h6 class="m-t-2">{{ user_profile }}</h6>
         <img src="{{ MEDIA_URL }}{{ user_profile.picture }}" class="m-x-auto img-fluid img-circle" alt="avatar" />
         <h6 class="m-t-2">Change your profile picture</h6>
         <label class="custom-file">
            <input type="file" id="file" class="custom-file-input">
            <span class="custom-file-control">Choose file</span>
         </label>
      </div>
      </div>
      </div>
     {%endblock%}