.header{
	margin-left: 40%;
}

.preview{
	float: right;
	margin-right: 200px;
	height: 10%;
	width: 70%;
	border-width: 1px;
	background-color: #E8E8E8;
	margin-bottom: 10px
}
.categories{
	float: left;
	margin-top: 100px;
	background-color: #EDC46A;
	width: 110px;
	padding: 5px;
}
.search{
	margin-left: 38%;
	margin-bottom: 100px;
}