{% extends 'registration/registration_base.html' %}
{% load staticfiles %}
{% load form_class%}

{% block body_block %}		
	<h2 class = "title">Password Reset</h2>
	<div class="text-center w-full p-t-15">
		<span class="helper-text">
			Reset your password using your E-mail.
		</span>
		<br />
		<form  method="POST" action = ".">
			{% csrf_token %}
			{% for field in form %}
				<div class="form-row row-space">
					<div class="input-group form-control  p-t-15 ">
						<label class="label">{{ field.label }}</label>	
						{{field|addcss:"input--style-4"}} 
					</div>
				</div>
			{% endfor %}
			<div>
				<button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
			</div>
		</form>
	</div>
{% endblock %}